
<div>
    <button type="button" (click)="addData()"  class="btn">เพิ่ม</button>
</div>
<table>
  <tr>
    <th>คำนำหน้า</th>
    <th>ชื่อ</th>
    <th>นามสกุล</th>
  </tr>
  <tr *ngFor="let table of tables; let i = index">
    <td>
      <select name="perfix" [(ngModel)]="table.prefix">
        <option *ngFor="let val of prefix" [ngValue]="val" >{{val}}</option>
      </select>
    </td>
    <td>
        <input type="text" name="name" [(ngModel)]="table.name">
    </td>
    <td>
        <input type="text" name="sername" [(ngModel)]="table.sername">
    </td>
    <td>
        <button type="button" (click)="delData(i)">ลบ</button>
    </td>
  </tr>
</table>
